<html lang="en">
<head>
  <title>PARIS RESTRAUNT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/hosp.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="jumbotron text-center">

  <h1>PARIS RESTRAUNT</h1>
  <p> TV |  Music | Grilled Favorites | Happy Hour | </p>
</div>


<div class="container text-muted">
  <div class="row">
    <div class="col-sm-4">
      <h3>Breakfast Menu</h3>
      <p>Breakfast is the first meal of the day usually eaten in the morning.The word in English refers to breaking the fasting period of the previous night.Various "typical" or "traditional" breakfast menus exist, with food choices varying by regions and traditions worldwide.</p>
    </div>
    <div class="col-sm-4">
      <h3>Lunch Menu</h3>
      <p>Lunch is a meal eaten around the middle of the day.It is commonly the second meal of the day, after breakfast, and varies in size by culture and region.</p>

    </div>
    <div class="col-sm-4">
      <h3>Dinner Menu</h3>
      <p>Dinner usually refers to what is in many Western cultures the biggest and most formal meal of the day. Historically, the largest meal used to be eaten around midday, and called dinner.Especially among the elite, it gradually migrated to later in the day over the 16th to 19th centuries.</p>

    </div>
  </div>
</div>

<!--2nd jumbotron

<div class="jumbotron text-center">
    <h1>City Center Bar & Grill</h1>
    <p> TV |  Music | Grilled Favorites | Happy Hour | </p>
  </div>
-->
<hr class="hr">


<div class="container text-muted">

  <!--Card 1-->

  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card">
          <img src="https://images.pexels.com/photos/103124/pexels-photo-103124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="pic" class="img-fluid card-img-top">
        <div class="card-block">
          <div class="card-title">
            <h4 class="card-title">Breakfast<h4>
          </div>
            <div class="card-text">
              Continental Breakfast
              <br>
              English Breakfast<br>American Breakfast<br>Indian Breakfast<br>Chineese Breakfast<br>South Indian<br>North Indian<br>Tea,Coffee
            </div>
            <a href="#" class="btn btn-primary">Search Menu</a>

        </div>
      </div>
    </div>

    <!--Card 2-->

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="pic" class="img-fluid card-img-top">
          <div class="card-block">
            <div class="card-title">
              <h4>Lunch<h4>
            </div>
              <div class="card-text">
                English lunch<br>South Indian lunch<br>North Indian <br>Polish Easter Lunch<br>Sword Fish Lunch<br>Brazilian Lunch<br>Veg Meals<br>Non veg Meals
              </div>
              <a href="#" class="btn btn-primary">Search Menu</a>

          </div>
        </div>
      </div>

<!--Card 3-->

      <div class="col-md-6 col-lg-3">
          <div class="card">
              <img src="https://images.pexels.com/photos/8313/food-eating-potatoes-beer-8313.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="pic" class="img-fluid card-img-top">
            <div class="card-block">
              <div class="card-title">
                <h4>Dinner<h4>
              </div>
                <div class="card-text">
                   A la carte Dinner<br>Casual dinner western<br>Thanksgiving dinner<br>Christmas dinner<br>A formal American dinner <br>Japanese dinner<br>Cassoulet for German dinner<br>Buffet Dinner
                </div>
                <a href="#" class="btn btn-primary">Search Menu</a>

            </div>
            </div>
          </div>

          <!--Card 4-->

          <div class="col-md-6 col-lg-3">
              <div class="card">
                  <img src="https://images.pexels.com/photos/60616/fried-chicken-chicken-fried-crunchy-60616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="pic" class="img-fluid card-img-top">
                <div class="card-block">

                  <div class="card-title">
                    <h4>Apps & Drinks<h4>
                  </div>
                    <div class="card-text">
                      Veg Starters<br>Non Veg Starters<br>Juices<br>Shakes<br>Cocktails<br>Hot beverages<br>Mocktails<br>Lassi
                    </div>
                    <a href="#" class="btn btn-primary">Search Menu</a>

                </div>
                </div>
              </div>
          </div>
        </div>


<!-- this is the end of the Boostap 4 Cards-->

</body>
<footer class="footer text-center">
&copy;PARIS Restuaraunt Menu Template 2023

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</html>
